@* @page "/viewer" *@
@attribute [Authorize(Roles = "Admin")]
@using DevExpress.Blazor.Reporting
@using DevExpress.XtraReports.UI
@using Hotel360InteractiveServer.Components.Pages.Reports  @* adjust namespace *@

<h3>ReportViewer</h3>

<DxReportViewer Report="@Report" />

@code {
    XtraReport Report => new RGPD();
}
