@page "/logout"
@using Microsoft.AspNetCore.Authentication.Cookies
@inject NavigationManager NavigationManager

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {

    }
}
