@using Microsoft.AspNetCore.Components.Authorization

<!-- This might be NavMenu.razor -->
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hotel360WebServer</a>
    </div>
</div>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- The onclick below is toggling the navbar for small devices, presumably -->
<!-- NavMenu.razor -->
<div class="sidebar" style="position: relative; height: 90vh;" id="menuItems">
    <nav class="nav-items" style="padding-bottom: 3rem;">
        <!-- Top navigation links -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            <AuthorizeView>
                <NavLink class="nav-link" href="quartos">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Quartos
                </NavLink>
                <NavLink class="nav-link" href="checkins">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Check-in
                </NavLink>
                <NavLink class="nav-link" href="refeicoes">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Refeições
                </NavLink>
            </AuthorizeView>
        </div>
        <!-- Additional nav items go here -->
    </nav>

    <!-- Auth container fixed to bottom with margin -->
    <div class="auth-links" style="position: absolute; bottom: 0; left: 0; width: 100%; padding: 0 1rem; margin-bottom: 1rem;">
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link" href="logout">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                </NavLink>
                <NavLink class="nav-link" href="register">
                    <span class="bi bi-pencil-square" aria-hidden="true"></span> Register
                </NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                </NavLink>
            </NotAuthorized>      
        </AuthorizeView>
    </div>
</div>
